<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="WeatherMapApi.Url" value="http://api.openweathermap.org/data/2.5/"/>
    <add key="WeatherMapApi.AppId" value="d3fb5237fe407d06e1a2adafd30cf257"/>
  </appSettings>
</configuration>